*{
  margin: 0;
  padding: 0;
}
body{
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  min-height: 100vh;
}
/* Input style */
.form-control:focus{
  border-color: #929dd2 !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem #929dd255 !important;
}
.form-control.is-valid:focus {
  border-color: #198754 !important;
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25) !important;
}
.form-control.is-invalid:focus {
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25) !important;
}
/* table style */
.App {
  font-family: sans-serif;
  text-align: center;
}
table {
  width: 750px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  margin: 20px auto;
}

th,
td {
  padding: 15px;
  background-color: rgba(255,255,255,0.2);
  color: #fff;
}

th {
  text-align: left;
}
thead th {
  background-color: #55608f;
  color: inherit;
}
tbody tr{
  cursor: pointer;
}
tbody tr:hover, .active {
  background-color: rgba(255,255,255,0.3);
}
h2{
  font-family: 'Pacifico', cursive;
  /* font-size: 30px; */
  color: #fff !important;
}
@media (max-width: 767.98px){
  table {
    width: 450px;
  }
}
@media (max-width: 459.98px){
  table {
    width: 330px;
  }
  th, 
  td {
    padding: 7px;
  }
  .form-control{
    width: 300px !important;
    text-align: center;
  }
}